@import "tailwindcss";

@theme {
  /* Tema Warna Divisi Software */
  --color-software-bright: #39FF5A;
  --color-software-tosca: #20C997;
  --color-software-teal: #008080;
}

@layer base {
  body {
    @apply bg-neutral-950 text-white antialiased;
  }
}