@import "tailwindcss";

@theme {
  --color-brand-green: #059669;
}

/* Background grid tipis seperti referensi gambar */
@layer base {
  body {
    background-color: #ffffff;
    background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
    background-size: 20px 20px;
  }
}